/* --------------- Primary Elements --------------- */

body {
    background-color: #F3F6F7;
}

nav {
    padding-bottom: 4em;
}

/* --------------- Text Elements --------------- */

h1 {
    color: #162C4A;
    font-family: 'Literata', serif;
    font-weight: normal;
}

h2 {
    color: #162C4A;
    font-family: 'Literata', serif;
}

h3 {
    font-size: 18px;
    font-weight: none;
    margin-top: 1em;
    color: #5E6773;
    font-family: 'Literata', serif;
}

h6 {
    font-size: 18px;
    line-height: 1.8em;
    color: #5E6773;
    font-family: 'Literata', serif;
    font-style: italic;
}

p {
    line-height: 1.8em;
}

.outlineHeadline {
    padding-top: 2rem;
    padding-bottom: 0px;
}

#outlineHeadline1 {
    padding-top: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 4px;
    padding-right: 0px;
}

.navbar-brand {
    padding-left: 25px;
    padding-top: 0rem;
    font-family: 'Literata', serif;
}

.navbar-nav {
    color: white;
    padding-left: 15px;
}

.nav-item {
    margin-left: 15px;
}

#storyField {
    height: 904px;
    flex-grow: 1;
    display: flex;
}

.text-primary {
    padding: 0px;
}

#thes {
    color: #5E6773;
}

#writingStats {
    margin-bottom: 1em;
}

#story1 {
    text-decoration: none;
}

.table td {
    color: #5E6773;
    text-align: center;
}

.table {
    text-align: center;
}

/* --------------- Buttons --------------- */

.btn {
    background-color: #0090D0;
    color: white;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    margin: 0px;
}

#storySubmit {
    float: right;
}

#saveStory {
    float: right;
}

/* --------------- Card Elements --------------- */

.card-text {
    padding-bottom: 10px;
    text-decoration: none;
    color: #5E6773;
}

.card-title {
    color: #0090D0;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid #E4E6EA 2px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.card:hover {
    border: solid #0090D0 2px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    color: #0090D0;
}

/* --------------- Fields --------------- */

#userThes {
    width: 70%;
}

#definethes {
    margin-bottom: 0px;
    margin-top: 1em;
}

/* --------------- Blocks --------------- */

.heroSection {
    margin-top: 1em;
}

.mainContent {
    margin-bottom: 2em;
    display: none
}

.storyArea {
    padding-top: 35px;
}

.storyContainer {
    padding-bottom: 2em;
}

.jumbotron {
    background-color: #F3F6F7;
    padding-left: 0rem;
    float: left;
    margin-bottom: 0rem;
}

.quoteContainer {
    height: 341px;
}

.table {
    margin-bottom: 10em;
}

.storyChoices {
    margin-top: 2em;
}

.table .thead-dark th {
    width: 14%;
}

/* --------------- Media Queries --------------- */

@media (max-width: 994px) {
    #userThes {
        width: 54%;
    }
    #storySubmit {
        float: right;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    .mainContent {
        margin-bottom: 1em;
    }
    .quoteContainer {
        height: auto;
        margin-left: 15px;
        padding-top: 0px;
    }
    
    .jumbotron {
        padding-left: 0rem;
    }
}

@media (max-width: 770px) {
    #userThes {
        width: 73%;
    }
    #storySubmit {
        margin-top: 1em;
    }
    .mainContent {
        margin-bottom: .5em;
    }
    #storyField {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    #userThes {
        width: 100%;
        margin-bottom: .5em;
    }
    #userT {
        float: right;
    }
    #storySubmit {
        margin-top: 1em;
    }
    .mainContent {
        margin-bottom: .5em;
    }
    .navbar-brand {
        padding-left: 0px;
    }
}