body {
    background-color: #F3F6F7;
}

.btn {
    background-color: #0090D0;
    color: white;
    border: none;
    box-shadow: 0px 1px 2px grey;
    margin: 0px;
}

#storyField {
    height: 824px;
    flex-grow: 1;
    display: flex;
}

.storyArea {
    padding-top: 35px;
}

.mainContent {
    margin-bottom: 2em;
    display: none
}

.text-primary {
    padding: 0px;
}

nav {
    padding-bottom: 4em;
}

#definethes {
    margin-bottom: 0px;
    margin-top: 1em;
}

.storyChoices {
    margin-top: 2em;
}

#storySubmit {
    float: right;
}

#word-count-text {
    float: right;
}

#userThes {
    width: 70%;
}

.formControl {
    border-style: none;
    border-radius: 0px;
}

p {}

ul {
    padding-left: 4px;
    padding-right: 0px;
}

#saveStory {
    float: right;
}

#thes {
    color: #5E6773;
}

.table {
    margin-bottom: 10em;
}

.card {
    margin-top: 1em;
    margin-bottom: 3em;
}

.card-text {
    padding-bottom: 10px;
    text-decoration: none;
    color: #5E6773;
}

#story1 {
    text-decoration: none;
}

p {
    line-height: 1.8em;
}

h3 {
    font-size: 18px;
    font-weight: none;
    margin-top: 1em;
    font-weight: normal;
    color: #162C4A;
}

.quoteContainer {
    overflow: scroll;
    height: 341px;
}

#writingStats {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

.jumbotron {
    background-color: #F3F6F7;
    padding: 3rem;
    float:left;
}

.navbar-brand {
    padding-left: 25px;
}

.navbar-nav {
    color: white;
    padding-left: 25px;
}

.heroSection {
    margin-top: 1em;

}

.background {
    background-color: white;
}

.navbar-brand {
    padding-top: 0rem;
}

.h6 {
    color: #5E6773;
}

h6 {
    font-weight: none;
    font-style: italic;
    font-size: 18px;
    line-height: 1.8em;
    color: #5E6773;
}

@media (max-width: 994px) {
    #userThes {
        width: 54%;
    }
    #storySubmit {
        float: right;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    .mainContent {
        margin-bottom: 1em;
    }
    #quoteSection {
        display: none;
    }
    .quoteContainer {
        display: none;
    }
}

@media (max-width: 770px) {
    #userThes {
        width: 73%;
    }
    #storySubmit {
        margin-top: 1em;
    }
    .mainContent {
        margin-bottom: .5em;
    }
}

@media (max-width: 576px) {
    #userThes {
        width: 100%;
        margin-bottom: .5em;
    }
    #userT {
        float: right;
    }
    #storySubmit {
        margin-top: 1em;
    }
    .mainContent {
        margin-bottom: .5em;
    }

    .jumbotron {
        padding: 3rem;
    }
}