#storyField {
    height: 778px;
    flex-grow: 1;
    display: flex;
}

.storyArea {
    margin-top: 2em;
}

nav {
    padding-bottom: 4em;
}

#word-count-text {
    float: right;
}

#userThes {
    width: 60%;
}

p {
    margin-bottom: 0px;
    line-height: 2.3em;
}

ul {
    padding-left: 4px;
    padding-right: 0px;
}